/*
Theme Name: Hestia enfant
Description: Theme enfant de Benoit WPServeur
Author: Benoit - WPserveur
Author URI: https://www.wpserveur.net
Template: hestia 
Version: 0.1.0
*/
.footer{
  display: none;
}
.page-header{
  margin-top : 0;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-color-on-scroll.hestia_left.navbar-transparent {
  border-bottom-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-color-on-scroll.hestia_left.navbar-transparent a {
  color: white;
}